@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

@font-face {
    font-family: Mode7-0;
    src: url(/fonts/MODE7GX0.TTF);
}

body {
    background-color: black;
    padding: 40px;
}

p, span {
    font-family: Mode7-0;
    color: white;
}

button {
    font-family: Mode7-0;
    color: white;
    border: 2px solid white;
    padding: 2px;
}