.red {
    color: #ff0000;
}

.green {
    color: #00ff00;
}

.yellow {
    color: #ffff00;
}

.blue {
    color: #0000ff;
}

.magenta {
    color: #ff00ff;
}

.cyan {
    color: #00ffff;
}

.white {
    color: #ffffff;
}

.double-height {
    display: inline-block;
    transform-origin: top;
    transform: scale(1, 2);
}